<!-- PROJECTS - CRUD -->
<div class="content">

<div class="row">
<div class="col-xs-12">

  <!-- Button to display the modal form registration. -->
  <div class="form-group">
    <button type="button" class="btn btn-primary" ng-click="vm.showCreateForm()">
      <i class="fa fa-plus"></i> Create
    </button>
  </div>

  <div class="box">
    <div class="panel-group"> <!-- Start filter the list of projects. -->

      <div class="box-header">
        <h3 class="box-title">Projecs</h3>
      </div>

      <div class="panel-body">

        <!-- TpReview filter -->
        <div class="form-group">
          <label for="tpReview">Review type</label>
          <select id="tpReview" name="tpReview" class="form-control" ng-model="vm.tpReviewSearch">
            <option value="">All types</option>
            <option value="0">Not Systematic</option>
            <option value="1">Systematic Mapping</option>
            <option value="2">Systematic Review</option>
          </select>
        </div>

        <!--  DsKey filter -->
        <div class="form-group">
          <label for="dsKey">Key</label>
          <input type="text" ng-model="vm.dsKeySearch" class="form-control" >
        </div>

        <!-- DsTilte filter -->
        <div class="form-group">
          <label for="ds_title">Title</label>
          <input id="ds_title" name="ds_title" type="text" ng-model="vm.dsTitleSearch" class="form-control">
        </div>
      </div>
    </div> <!-- End filter the list of projects. -->

    <!-- Star pager -->
    <div class="text-center">
      <ul class="pagination" ng-if="vm.projectsByFilter().length > 0">
        <li ng-class="{disabled:vm.currentPage === 0}">
          <a href ng-click="vm.setPage(0)">««</a>
        </li>
        <li ng-class="{disabled: vm.currentPage === 0}">
          <a href ng-click="vm.prevPage()">«</a>
        </li>
        <li ng-repeat="n in vm.range()" ng-class="{active: n == vm.currentPage}">
          <a href ng-click="vm.setPage(n)">{{n+1}}</a>
        </li>
        <li ng-class="{disabled:vm.currentPage === vm.pageCount()}">
          <a href ng-click="vm.nextPage()">»</a>
        </li>
        <li ng-class="{disabled:vm.currentPage === vm.pageCount()}">
          <a href ng-click="vm.setPage(vm.pageCount())">»»</a>
        </li>
      </ul>

      <div ng-show="(vm.projectsByFilter().length == 0 || vm.projectsByFilter().length == 1)">
        <b>{{ "The query returned " + vm.projectsByFilter().length + " project." }}</b>
      </div>

      <div ng-show="vm.projectsByFilter().length > 1">
        <b>{{ "The query returned " + vm.projectsByFilter().length + " projects." }}</b>
      </div>
    </div>
    <!-- End pager -->

    <!-- Start project list -->
    <div class="box-body">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="width-60-pct">#</th>
            <th class="width-60-pct">Review type</th>
            <th class="width-60-pct">Key</th>
            <th class="width-30-pct">Title</th>
            <th class="text-align-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <!--tr ng-hide="vm.projectsByFilter().length > 0">
            <td align="center" colspan="5">No project found.</td>
          </tr-->
          <tr ng-if="vm.dataLoading">
            <td colspan="9" align="center">
              <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </td>
          </tr>
          <tr ng-repeat="project in vm.projectsByFilter() | pagination : vm.currentPage*vm.itemsPerPage | limitTo: vm.itemsPerPage">
            <td class="width-30-pct">{{$index + 1}}</td>
            <td class="width-30-pct">
              <div class="width-30-pct" ng-if="project.tpReview == 0">
                Not Systematic
              </div>
              <div class="width-30-pct" ng-if="project.tpReview == 1">
                Systematic Mapping
              </div>
              <div class="width-30-pct" ng-if="project.tpReview == 2">
                Systematic Review
              </div>
            </td>
            <td class="width-30-pct">{{ project.dsKey }}</td>
            <td class="width-30-pct">{{ project.dsTitle }}</td>
            <td class="center">
              <button type="button" class="btn btn-default" ng-click="vm.openProject(project.dsKey)">
                <span class="glyphicon glyphicon-folder-open"></span>
              </button>
              <button type="button" class="btn btn-warning" ng-click="vm.editProject(project)">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button type="button" class="btn btn-danger" ng-click="vm.deleteProject(project.dsKey)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th class="width-60-pct">#</th>
            <th class="width-60-pct">Review type</th>
            <th class="width-60-pct">Key</th>
            <th class="width-30-pct">Title</th>
            <th class="text-align-center">Actions</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- End project list -->

    <!-- Modal form registration. -->
    <div ng-include="'adm/views/project/project-create-form.html'"></div>

    <!-- Modal confirmation message. -->
    <div ng-include="'adm/views/message/confirmation-message-modal.html'"></div>

    <!-- end col s12 -->
  </div>
  <!-- end row -->
</div>
<!-- end container -->
