<!-- Start - Objectives form -->
<div class="form-group">
  <label for="ds_objectives">Objectives:</label>
  <textarea id="ds_objectives" name="ds_objectives" ng-model="vm.protocol.objectives.dsObjective" class="form-control" rows="5"></textarea>
</div>
<!-- End - Objectives form -->

<!-- Start - Action buttons -->
<div class="modal-footer">
    <button id="btn-save-objectives" type="button" class="btn btn-primary" ng-click="vm.saveObjectives()">
        <i class="fa fa-check"></i>Salvar
    </button>
</div>
<!-- End - Action buttons -->