<!-- Start - Keywords list -->
<div class="box-body">
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th class="width-60-pct">Keywords</th>
      <th class="width-60-pct">Actions</th>
    </tr>  
  </thead>
  <tbody>
    <tr ng-hide="vm.protocol.searchKeywords.length > 0">
      <td align="center" colspan="5">No keywords registered.</td>
    </tr>
    <tr ng-repeat="keyword in  vm.protocol.searchKeywords">
        <td class="width-30-pct">{{ keyword.dsSearchKeyword | uppercase }}</td>
        <td class="center">
            <button type="button" class="btn btn-warning" ng-click="vm.editKeyword(keyword)">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="vm.deleteKeyword(keyword)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
      
  </tbody>
  <tfoot>
    <tr>
      <th class="width-60-pct">Keywords</th>
      <th class="width-60-pct">Actions</th>
    </tr>
  </tfoot>
</table>
</div>
<!-- End - Keywords list -->