<!-- Start - Search Engine list -->
<div class="box-body">
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th class="width-60-pct">Search Engines</th>
      <th class="width-60-pct">Actions</th>
    </tr>  
  </thead>
  <tbody>
    <tr ng-hide="vm.protocol.searchKeywords.length > 0">
      <td align="center" colspan="5">No Search Engines registered.</td>
    </tr>
    <tr ng-repeat="searchEngine in  vm.protocol.searchKeywords">
        <td class="width-30-pct">{{ searchEngine.dsSearchKeyword }}</td>
        <td class="center">
            <button type="button" class="btn btn-warning" ng-click="vm.editKeyword(searchEngine)">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="vm.deleteKeyword(searchEngine)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
      
  </tbody>
  <tfoot>
    <tr>
      <th class="width-60-pct">Search Engines</th>
      <th class="width-60-pct">Actions</th>
    </tr>
  </tfoot>
</table>
</div>
<!-- End - Keywords list -->