<!-- Start - Secondary Question form -->
<div class="form-group">
  <label for="ds_secondary_question">Secondary Question:</label>
  <textarea id="ds_secondary_question" name="ds_secondary_question" ng-model="vm.protocol.dsSecondaryQuestion" class="form-control" rows="5"></textarea>
</div>
<!-- End - Secondary Question form -->

<!-- Start - Action buttons -->
<div class="modal-footer">
    <button id="btn-save-questions" type="button" class="btn btn-primary" ng-click="vm.saveSecondaryQuestion()">
        <i class="fa fa-check"></i>Salvar
    </button>
</div>
<!-- End - Action buttons -->