<!-- Start - Standard Query form -->
<div class="form-group">
  <label for="ds_standard_query">Standard Query:</label>
  <textarea id="ds_standard_query" name="ds_standard_query" ng-model="vm.protocol.standardQuery.dsStandardQuery" class="form-control" rows="15"></textarea>
</div>
<!-- End - Standard Query form -->

<!-- Start - Action buttons -->
<div class="modal-footer">
    <button id="btn-save-standard-query" type="button" class="btn btn-primary" ng-click="vm.saveStandardQuery()">
        <i class="fa fa-check"></i>Salvar
    </button>
</div>
<!-- End - Action buttons -->