<!-- Start Forgot Password Form -->
<div class="box-body">
  <div class="form-bottom">
    <form name="forgot_password_form" role="forgot_password_form" class="login-form">
      <div class="form-group" ng-class="{ 'has-error': forgot_password_form.fpuser_ds_email.$dirty && forgot_password_form.fpuser_ds_email.$error.required }">
        <label for="fpuser_ds_email">Email</label>
        <input type="text" name="fpuser_ds_email" id="fpuser_ds_email" class="form-email form-control" ng-model="vm.fpuser.dsEmail" required>
        <span ng-show="forgot_password_form.fpuser_ds_email.$dirty && forgot_password_form.fpuser_ds_email.$error.required" class="help-block">Enter the email.</span>
      </div>
      <div>
        <button ng-click="vm.forgotPassword()" ng-disabled="forgot_password_form.$invalid || vm.lDataLoading" class="btn btn-success">Send</button>
        <img ng-if="vm.lDataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
    </form>
  </div>
</div> <!-- End Forgot Password Form -->
