<!-- Start Login Form -->
<div class="box-body">
  <div class="form-bottom">
    <form name="login_form" role="login_form" class="login-form">
      <div class="form-group" ng-class="{ 'has-error': login_form.luser_ds_email.$dirty && login_form.luser_ds_email.$error.required }">
        <label for="luser_ds_email">Email</label>
        <input type="text" name="luser_ds_email" id="luser_ds_email" class="form-email form-control" ng-model="vm.luser.dsEmail" required>
        <span ng-show="login_form.luser_ds_email.$dirty && login_form.luser_ds_email.$error.required" class="help-block">Enter the email.</span>
      </div>
      <div class="form-group" ng-class="{ 'has-error': login_form.luser_ds_password.$dirty && login_form.luser_ds_password.$error.required }">
        <label for="luser_ds_password">Password</label>
        <input type="password" name="luser_ds_password" id="luser_ds_password" class="form-password form-control" ng-model="vm.luser.dsPassword" required />
        <span ng-show="login_form.luser_ds_password.$dirty && login_form.luser_ds_password.$error.required" class="help-block">Enter the password.</span>
      </div>
      <div >
        <button ng-click="vm.login()" ng-disabled="login_form.$invalid || vm.lDataLoading" class="btn btn-success">Enter</button>
        <img ng-if="vm.lDataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
    </form>
  </div>
</div> <!-- End Login Form -->
