<!-- STUDY - CRUD -->
<div class="content">

<div class="row">
<div class="col-xs-12">

  <!-- Button to display the modal form registration. -->
  <div class="form-group">
    <button type="button" class="btn btn-primary" ng-click="vm.showCreateForm()">
      <i class="fa fa-plus"></i> Create
    </button>
    <button type="button" class="btn btn-success" ng-click="vm.showImportForm()">
      <i class="fa fa-arrow-circle-down"></i> Import
    </button>
  </div>

  <div class="box">
    <!-- Start filter the list of studies. -->
    <div class="panel-group">

      <div class="box-header">
        <h3 class="box-title">Studies</h3>
      </div>

      <div class="panel-body">

        <!-- DsTilte filter -->
        <div class="form-group">
          <label for="ds_title">Title</label>
          <input id="ds_title" name="ds_title" type="text" ng-model="vm.dsTitleSearch" class="form-control">
        </div>

        <div class="row">

          <!-- Year filter -->
          <div class="form-group col-xs-6">
            <label for="ds_title">Year</label>
            <input id="nr_year" name="nr_year" type="text" ng-model="vm.nrYearSearch" class="form-control">
          </div>

          <!-- Author filter -->
          <div class="form-group col-xs-6">
            <label for="nm_author">Author</label>
            <input id="nm_author" name="nm_author" type="text" ng-model="vm.nmAuthorSearch" class="form-control">
          </div>

        </div>

      </div>
    </div>
    <!-- End filter the list of studies. -->

    <!-- Star pager -->
    <div class="text-center">
      <ul class="pagination" ng-if="vm.studiesByFilter().length > 0">
        <li ng-class="{disabled:vm.currentPage === 0}">
          <a href ng-click="vm.setPage(0)">««</a>
        </li>
        <li ng-class="{disabled: vm.currentPage === 0}">
          <a href ng-click="vm.prevPage()">«</a>
        </li>
        <li ng-repeat="n in vm.range()" ng-class="{active: n == vm.currentPage}">
          <a href ng-click="vm.setPage(n)">{{n+1}}</a>
        </li>
        <li ng-class="{disabled:vm.currentPage === vm.pageCount()}">
          <a href ng-click="vm.nextPage()">»</a>
        </li>
        <li ng-class="{disabled:vm.currentPage === vm.pageCount()}">
          <a href ng-click="vm.setPage(vm.pageCount())">»»</a>
        </li>
      </ul>

      <div ng-show="(vm.studiesByFilter().length == 0 || vm.studiesByFilter().length == 1)">
        <b>{{ "The query returned " + vm.studiesByFilter().length + " study." }}</b>
      </div>

      <div ng-show="vm.studiesByFilter().length > 1">
        <b>{{ "The query returned " + vm.studiesByFilter().length + " studies." }}</b>
      </div>
    </div>
    <!-- End pager -->

    <!-- Start study list -->
    <div class="box-body">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <!--th class="width-60-pct">#</th-->
            <th class="width-30-pct">Cite key</th>
            <th class="width-30-pct">Title</th>
            <th class="width-30-pct">Year</th>
            <th class="width-30-pct">Authors</th>
            <th class="text-align-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <!--tr ng-hide="vm.studiesByFilter().length > 0">
            <td align="center" colspan="5">No study found.</td>
          </tr-->
          <tr ng-if="vm.dataLoading">
            <td colspan="9" align="center">
              <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </td>
          </tr>
          <tr ng-repeat="study in vm.studiesByFilter() | pagination : vm.currentPage*vm.itemsPerPage | limitTo: vm.itemsPerPage">
            <!--td class="width-30-pct">{{ $index + 1 }}</td-->
            <td class="width-30-pct">{{ study.cdCiteKey }}</td>
            <td class="width-30-pct">{{ study.dsTitle }}</td>
            <td class="width-30-pct">{{ study.nrYear }}</td>
            <td class="width-30-pct">{{ study.nmAuthor }}</td>
            <td class="center">
              <!--button type="button" class="btn btn-default" ng-click="vm.readStudy(study.dsSlug)">
                <span class="glyphicon glyphicon-eye-open"></span>
              </button-->
              <button type="button" class="btn btn-warning" ng-click="vm.editStudy(study)">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button type="button" class="btn btn-danger" ng-click="vm.deleteStudy(study.dsSlug)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <!--th class="width-60-pct">#</th-->
            <th class="width-30-pct">Cite key</th>
            <th class="width-30-pct">Title</th>
            <th class="width-30-pct">Year</th>
            <th class="width-30-pct">Authors</th>
            <th class="text-align-center">Actions</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- End project list -->

    <!-- Modal form registration. -->
    <!--div ng-include="'adm/views/study/study-create-form.html'"></div-->

    <!-- Importation Modal form. -->
    <div ng-include="'adm/views/study/study-import-form.html'"></div>

    <!-- Modal form details. -->
    <!--div ng-include="'adm/views/study/study-details-form.html'"></div-->

    <!-- Modal confirmation message. -->
    <div ng-include="'adm/views/message/confirmation-message-modal.html'"></div>

    <!-- end col s12 -->
  </div>
  <!-- end row -->
</div>
<!-- end container -->
